<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit Dev Skill # <%= skill._id %></h1>
  <!-- action is the endpoint/routes, method is the http verb -->
  <!-- html doesn't understand put, so the method = post -->
  <form action="/skills/<%= skill._id %>?_method=PUT" method="POST" autocomplete="off">
    <input value="<%= skill.text %>" type="text" name="text">
    <input type="checkbox" <%= skill.done? 'checked': '' %> name="done">
    <button type="submit">Save Dev Skills</button>
  </form><br>
  <a href="/skills">Go back</a>
</body>
</html>